<html>
<head>
    {% load staticfiles %}

    {% block title %}
        <title>Compartihando</title>
    {% endblock title %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"  media="screen,projection"/>
</head>

<body>
  <header>
    {% include "menu.html" %}
  </header>
  <main>
      <div class="container">
        {% block content %}

        {% endblock content %}
      </div>
  </main>
  {% include "footer.html" %}


  {% block javascript %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
    <script type="text/javascript" src="{% static "js/init.js" %}"></script>
  {% endblock javascript %}

</body>
</html>