<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Compartilhando</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"  media="screen,projection"/>
</head>
<body>
  <nav class="light-grey lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Compartilhando</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Cadastro</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#%21" id="toggle-search"><i class="large mdi-action-search"></i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Cadastro</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

    <div class="row white-text grey darken-3" id="search">

        <div class="container">
            <form action="https://www.google.com/search" method="get">
                <input class="form-control" name="q" placeholder="Procurar..." type="text">
                <input name="as_sitesearch" value="" type="hidden">
            </form>
        </div>

    </div>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h3 class="header center grey-text">Compartilhe o que você possui de melhor!</h3>
      <div class="row center">
        <h5 class="header col s12 light">Plataforma moderna para você vender, trocar, oferecer seus produtos</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Começe</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Titulo 1</h5>

            <p class="light">Texto 1</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Titulo 2</h5>

            <p class="light">Texto 2</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">titulo 3</h5>

            <p class="light">texto 3</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer light-grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sobre nós</h5>
          <p class="grey-text text-lighten-4">texto</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Menu rápido</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contato</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://www.facebook.com/leonardo.salvadori.1">Salvadori</a>
      </div>
    </div>
  </footer>

  {% block javascript %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
    <script type="text/javascript" src="{% static "js/init.js" %}"></script>
  {% endblock javascript %}
  </body>
</html>
